body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#image-container {
    text-align: center;
}
#image-container img {
    max-width: 100%;
    height: auto;
}
audio {
    display: none; /* Masquer le lecteur audio */
}